@import 'variables';

:root { 
  font: 20px/1.2 "Erika Type", sans-serif; 
  color: $primary-color;
}

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

/* smaller screens */
@media (max-width: 700px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 340px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  :root {
    font-size: 10px;
  }
}