@import 'reset';
@import 'variables';
@import 'fonts';

html,
body {
	background-color: $dark-primary-color;
}

#container {
	display: grid;
	grid-template-columns: 5% 1fr [start] minmax(0, 8.5in) [end] 1fr 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $dark-primary-color;
}

#main-container {
	max-height: 12in;
	grid-column: start / end;
	display: grid;
	grid-template-rows: 3rem minmax(0, 1fr)  3rem;
	margin-top: 0.5rem;
	margin-bottom: 1.0rem;
	background-color: $background-color;
	padding: 5%;
	box-shadow: 0.5rem 0.5rem 0rem 0rem darken($background-color, 10%);
}

#top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: "Erika Type";
}

#top-left {
	line-height: 1.5;
}

#name {
	font-size: 1.7rem;
}

#position {
	font-size: 1.1rem;
	font-weight: normal;
	margin-left: 0.3rem;
}

#top-links {
	display: grid;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-right: 5px;
	:hover, :focus {
		color: lighten($primary-color, 4%);
		background-color: darken($background-color, 4%);
	}
}

#middle {
	margin: 8rem 4rem;
	text-align: center;
	line-height: 1.4;
}

#greeting {
	font-size: 1.3rem;
}

.highlight-2 {
	background-color: $highlight-color-2;
}

.inline-links {
	font-size: 1.08rem;
	font-weight: 900;
	background-color: $highlight-color-1;
}

.inline-links:hover, .inline-links:focus {
	color: lighten($primary-color, 4%);
	background-color: darken($highlight-color-1, 10%);
}

#bottom {
	display: flex;
	margin: 0 4rem;
	justify-content: space-around;
	grid-row: 4 / 5;
	font-size: 0.9rem;
	:hover, :focus {
		color: lighten($primary-color, 4%);
		background-color: darken($background-color, 4%);
	}
}

.logo {
	width: 50px;
	height: 50px;
}

.twitter-logo {
	display: block;
	text-indent: -9999px;
  width: 50px;
  height: 50px;
	background: url(/assets/img/Twitter_Logo_Blue.svg);
	background-size: 50px 50px;
}
.cls-1{fill:none;}
.cls-2{fill:#1da1f2;}
.rc-webring {
	transform: scale(0.8);
}

/* smaller screens */
@media (max-width: 550px) {
	#middle {
		margin: 8rem 2rem;
		text-align: center;
	}
}

@media (max-width: 375px) {
	#middle {
		margin: 8rem 2rem;
		text-align: center;
	}
}
// @media (max-width: 340px) {
// 	h1 {
// 		font-size: 1.1rem;
// 	}
// 	a {
// 		font-size: 0.7rem;
// 	}
// 	#position {
// 		font-size: 0.6rem;
// 	}
// }
